<h1>Coaching Ask</h1>

<form action="/answer" method="get">
  <input type="text" name="query" placeholder="What is your question?">
  <button type="submit" class="btn btn-primary">
    Submit
  </button>
</form>


