// Place all the styles related to the coaching controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #9a8e91;
  font-family: Roboto;
}

h1 {
  font-family: Roboto;
  font-weight: bold;
}

h2 {
  font-family: Dancing Script;
}

p {
  font-family: Roboto;
  font-weight: lighter;
}

.btn {
  font-family: Roboto;
  font-weight: lighter;
  box-shadow: 3px 3px 3px #6b6062;
}
input {
  box-shadow: 3px 3px 3px #6b6062;
}
